.card {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1px;

  &::before {
    content: '';
    width: 90%;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: rgba($c-accent, 0.2);
  }

  &:last-child::before {
    content: none;
  }

  &__icon {
    width: 25px;
    margin-right: 10px;
    color: $c-accent;
  }

  &__name {
    font-weight: 500;
  }

  &__action {
    padding: 7px 8px;
    font-size: 14px;
  }
}
