.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: $c-accent;
  padding: 0 15px;
  color: $c-light;

  &__icon {
    margin-right: 10px;
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 25px;
    line-height: 50px;
  }

  &_small &__title {
    font-size: 20px;
  }
}
